html, body {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

a img {
    border: 0;
}

form {
}

.admin_table {
    width: 100%;
}

.table_header, .table_header:hover {
}

tr:hover {
    background-color: #e2eefa;
}

h1 {
    font-size: 20px;
    margin-top: 0px;
    text-align: center;
}

a:link, a:visited, a:active {
    color: #0000FF;
    text-decoration: none;
}
img {border:none;}
a:hover {
    text-decoration: none;
}
textarea, input, input[type="file"] {
                border: thin solid #999999;
            }
            
textarea:active, textarea:focus, input:active, input:focus {
                border: thin solid #0099FF;
}
input[type="submit"]{background-color: #0099FF; color:#ffffff; font-weight:bold; padding 0px 3px;}
input[type="submit"]:hover {background-color:#999999; cursor:pointer;}

.red {
    font-weight: bold;
    color: #FF0000;
}

.field {
    width: 200px;
}

.label {
    height: 14px;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
    font-weight: bold;
}

.button {
    float: right;
}

.right {
    text-align: right;
    margin: 10px;
}

.center {
    text-align: center;
}

/*my styles*/
#wrapper {
    width: 970px;
    height: auto;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
    border-left: solid 1px #4f5963;
    border-right: solid 1px #4f5963;
    border-top: solid 1px #4f5963;
    background-image: url(images/shadow_border.png);
    background-position: left top;
    background-repeat: repeat-y;
}

#header {
    width: 959px;
    padding: 15px 0px 0px 10px;
    height: 100px;
    position: relative;
}

#wrappermain {
    width: 960px;
    padding: 0px 0px 0px 0px;
}

#content {
    width: 660px;
    float: left;
}

.content_top_left {
    width: 299px;
    height: 120px;
    background-image: url(../images/body_left.png);
    float: left;
    margin: 0px 15px 0px 15px;
    color: #FFFFFF;
    display: inline;
}

.content_top_right {
    width: 299px;
    height: 120px;
    background-image: url(../images/body_right.png);
    float: left;
    margin: 0px 15px 0px 15px;
    color: #FFFFFF;
    display: inline;
}

.content_top_right h3, .content_top_left h3 {
    font-weight: 700;
    font-size: 18px
}

.content_top_right a:link, .content_top_left a:link {
    float: right;
    color: #FF0000;
    font-weight: 600
}

.content_top_right a:visited, .content_top_left a:visited {
    float: right;
}

.content_top_right a:hover, .content_top_left a:hover {
    float: right;
    color: #000000;
}

.content_top_full {
    width: 650px;
    height: 50px;
    margin: 0px 5px 0px 5px;
    background-image: url(../images/content_top_full.jpg);
    background-repeat: no-repeat;
    color: #333333;
}

.content_top_full h1 {
    font-size: 24px;
    font-weight: 800;
    padding: 10px 0px 10px 10px;
}

.contentcopy {
    color: #333333;
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif; padding: 15px; width:630px;}
.contentcopy li { list-style-type:disc; list-style-position:inside; padding: 5px 0px 5px 0px;}
.copy {padding: 12px 15px 15px 15px;}
.contentcopy h1 { font-size:24px; font-weight:800; margin: 15px 0px 15px 0px;}
.contentcopy h3 { font-size:18px; font-weight:800; margin: 15px 0px 15px 0px;}

.contentcopy p { margin: 0px 0px 10px 0px;}


#logo { position:absolute; top:10px; left: 10px; width:400px; border:none;}
#shadow_lower { padding: 0px 0px 5px 0px; background-image:url(images/border_bottom.png); background-position:bottom left; background-repeat:repeat-x;  width: 969px; border-bottom: solid 1px #4f5963; border-right: solid 1px #4f5963; border-left: solid 1px #4f5963;}
#footer { width:970; height:30px; text-align:center; color:#666666;}
#footer a:link { color:#333333;}

#toolbar {background-color: #4F5963; width:100%; height:35px;}
#toolbar ul { list-style-type:none; padding-top:10px;}
#toolbar ul li { display:inline; margin-left: 20px;}
#toolbar a:link, #toolbar a:active, #toolbar a:visited { color:#ffffff; } 

input.button { background-color:blue;}
.cross {background: url("../images/ui-icons_cc0a0c_147x15.png") 60px 0px;
width: 18px;
height: 16px;
display:block;
font-size: 0px;
overflow:hidden; 0px auto;}
.tick {background: url("../images/ui-icons_18cc0a256_147x15.png") 20px 0px; 
width: 18px;
height: 16px;
display:block;
font-size: 0px;
overflow:hidden; 0px auto;}
.switch {background: url("../images/ui-icons_2e83ff_147x15.png") 120px 0px; 
width: 18px;
height: 16px;
display:block;
font-size: 0px;
cursor: pointer;
overflow:hidden; 0px auto;}
.delete {background: url("../images/ui-icons_2e83ff_147x15.png")  60px 0px; 
width: 18px;
height: 16px;
display:block;
font-size: 0px;
cursor: pointer;
overflow:hidden; 0px auto;
}
.edit {background: url("../images/ui-icons_2e83ff_147x15.png")  80px 0px; 
width: 16px;
height: 16px;
display:block;
font-size: 0px;
cursor: pointer;
overflow:hidden; 0px auto;
}
.download {background: url("../images/ui-icons_2e83ff_147x15.png")  0px 0px; 
width: 16px;
height: 16px;
display:block;
font-size: 0px;
cursor: pointer;
overflow:hidden; 0px auto;}

.email {background: url("../images/ui-icons_2e83ff_147x15.png")  100px 0px; 
width: 18px;
height: 16px;
display:block;
font-size: 0px;
cursor: pointer;
overflow:hidden; 0px auto;}

.telephone {background: url("../images/telephone_icon.png"); 
width: 16px;
height: 20px;
display:block;
font-size: 0px;
cursor: pointer;
overflow:hidden; 0px auto;}
/*candidate history table*/
td.icon_20{ width:20px;}
.candidate_history_table{
	font-size:12px;}
.candidate_history_table td {
	width:90px; 
	padding:3px;
	}
.candidate_history_table td input { width:90px; font-size:12px; margin:0px; padding:1px;}
.red td input{ font-size:12px; margin:0px; padding:0px; border:none; color:red;}
.candidate_history_table td select { width:90px; font-size:12px; margin:0px; padding:0px; border:none; }
.candidate_history_table td.icon_20 { width:20px; font-size:14px;} 
.candidate_history_table th.icon_20 { width:20px; font-size:14px;} 
.candidate_history_table td.icon_20 input {background: url("../images/ui-icons_2e83ff_147x15.png") 120px 0px; 
width: 18px;
height: 16px;
display:block;
font-size: 0px;
cursor: pointer;
overflow:hidden; 0px auto;} 


.candidate_history_table th {width:90px; text-align:left;}

/*referee table*/
td.icon_20{ width:20px;}
.referee_table{
	font-size:12px;}
.referee_table td {
	width:90px; 
	padding:3px;
	}
.referee_table td input { width:90px; font-size:12px; margin:0px; padding:1px;}
.red td input{ font-size:12px; margin:0px; padding:0px; border:none; color:red;}
.referee_table td select { width:90px; font-size:12px; margin:0px; padding:0px; border:none; }
.referee_table td.icon_20 { width:20px;font-size: 0px;} 
.referee_table th.icon_20 { width:20px; font-size: 0px;} 
.referee_table td.icon_20 input {background: url("../images/ui-icons_2e83ff_147x15.png") 120px 0px; 
width: 18px;
height: 16px;
display:block;
cursor: pointer;
overflow:hidden; 0px auto; font-size:0px;} 


.candidate_history_table th {width:90px; text-align:left;}
/*end my styles*/

/* tables */
.paging_two_button .fg-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .fg-button {
	padding: 2px 6px;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers {
	width: 350px !important;
}

.fg-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 100px;
	_height: 100px;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 11px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
	text-align:left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
}

.dataTables_info {
	width: 50%;
	float: left;
	text-align:left;
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
}

table.display tfoot th {
	padding: 6px 18px 10px 10px;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}

table.display thead th {
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background:url(../images/sort_asc.png) no-repeat center right;
}

.sorting_desc {
	background:url(../images/sort_desc.png) no-repeat center right;
}

.sorting {
	background: url(../images/sort_both.png) no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */



tr.odd {
	background-color: #E2E4FF;
}

tr.even {
	background-color: white;
}






.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}

tr.odd {background-color: #FFFFFF;}
tr.even {background-color: #ECFFFF;}

	
#new_applicants_table_wrapper, #suspended_users_table_wrapper, #active_users_table_wrapper {padding:10px;}

table.dataTable {}
/*modal styling*/
.jqmWindow {
    display: none;
    position: fixed;
    top: 17%;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    background-color: #EEE;
    color: #333;
    border: 1px solid black;
    padding: 12px;
}
.jqmOverlay { background-color: #000; }

/* Fixed posistioning emulation for IE6
     Star selector used to hide definition from browsers other than IE6
     For valid CSS, use a conditional include instead */
* html .jqmWindow {
     position: absolute;
     top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}

/*Multi Select Dropdown box*/
.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span { float:right }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }
