@charset "utf-8";
/* CSS Document */
.tDiv,.pDiv{
	display:none;
	visibility: hidden;
overflow: hidden;
width: 0px;
height: 0px;
}
.grupo_control{
display:none;
visibility: hidden;
overflow: hidden;
width: 0px;
height: 0px;
}
a{
display:none;
visibility: hidden;
overflow: hidden;
width: 0px;
height: 0px;
}
.navbar-inner{
display:none;
visibility: hidden;
overflow: hidden;
width: 0px;
height: 0px;
}
ul{
display:none;
visibility: hidden;
overflow: hidden;
width: 0px;
height: 0px;
}
fieldset{
display:none;
visibility: hidden;
overflow: hidden;
width: 0px;
height: 0px;
}
body{
margin-top:-5px;
}
.bDiv{ overflow:hidden; }
.bDiv{ overflow-x:hidden;
